@use 'variables' as *;

.no-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  & > * + * {
    margin-top: 0.5em;
  }
  &.closed {
    display: none;
  }

  h1 {
    margin: 0.5em;
  }

  #start-game {
    font-size: 1.5em;
    @include colored($primary-color);
    border: 3px solid black;
    padding: 0.5em;
    border-radius: 16px 0px 16px 16px;
  }
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  & > * + * {
    margin-top: 0.5em;
  }

  &.closed {
    display: none;
  }

  .turn {
    margin-top: 1em;
    
    span {
      padding: 0.2em 0.5em;
    }

    .turn-cross {
      background-color: $primary-color;
    }

    .turn-zero {
      background-color: complement($primary-color);
      color: white;
    }
  }
}

#tictactoe {
  display: grid;
  gap: 5px;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);

  div {
    width: $cell-size;
    height: $cell-size;
    @include colored(#e9e9e9);
  }

  div.cross {
    @include with-image('/cross.png');
    @include colored($primary-color);
  }

  div.zero {
    @include with-image('/zero.png');
    @include colored(complement($primary-color));
  }
}

#finish-game {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: inherit;
  @include colored($primary-color);
  border: none;
  padding: 0.5em;
  border-radius: 0px 16px 0px 0px;
  &.closed {
    display: none;
  }
}