@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
.main-container {
  background-color: white;
  max-width: 1160px;
  max-height: 800px;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  display: flex;
  overflow: hidden;
  box-shadow: #cca000 0px 0px 4px;
}
.main-container .tictactoe-container {
  flex: 1;
  display: grid;
  place-content: center;
  position: relative;
}
.main-container .chat-container {
  width: 360px;
  box-shadow: #ffd333 0px 0px 4px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: 0.2s width ease-in;
}
.main-container .chat-container.closed {
  width: 0px;
}

#tictactoe {
  display: grid;
  gap: 5px;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
}
#tictactoe div {
  width: 120px;
  height: 120px;
  background-color: #e9e9e9;
  transition: 0.1s background-color;
}
#tictactoe div:hover {
  background-color: #d0d0d0;
}
#tictactoe div.cross {
  background-image: url("/cross.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #ffd333;
  transition: 0.1s background-color;
}
#tictactoe div.cross:hover {
  background-color: #ffc800;
}
#tictactoe div.zero {
  background-image: url("/zero.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #335fff;
  transition: 0.1s background-color;
}
#tictactoe div.zero:hover {
  background-color: #0037ff;
}

#next-player {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: inherit;
  background-color: #ffd333;
  transition: 0.1s background-color;
  border: none;
  padding: 0.5em;
  border-radius: 0px 16px 0px 0px;
}
#next-player:hover {
  background-color: #ffc800;
}

.chat-title {
  background-color: #ffd333;
  padding: 0.5em 1em;
  height: 45px;
}

#chat {
  flex: 1;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  overflow: auto;
  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  scrollbar-width: none;
  /* for Firefox */
}
#chat::-webkit-scrollbar {
  display: none;
}
#chat .message {
  max-width: 300px;
  padding: 0.2em 0.5em;
  background-color: #335fff;
  color: white;
  margin: 0.2em 0.5em;
  align-self: flex-start;
  border-radius: 8px 8px 8px 0px;
}
#chat .message.self {
  align-self: flex-end;
  border-radius: 8px 8px 0px 8px;
  background-color: #ffd333;
  color: inherit;
}
#chat .gamestart, #chat .gameend, #chat .searching {
  padding: 0.2em 0.5em;
  margin: 0.2em 0.5em;
  align-self: center;
  max-width: 500px;
  background-color: #ccc;
}
#chat li:last-child {
  margin-bottom: 20px;
}

#send-message-form {
  display: flex;
  box-shadow: #ffd333 0px 0px 4px;
}
#send-message-form input {
  flex: 1;
  padding: 0.5em;
  font-size: inherit;
  border: none;
  outline: none;
}
#send-message-form button {
  background-color: #ffd333;
  transition: 0.1s background-color;
  border: none;
  width: 50px;
}
#send-message-form button:hover {
  background-color: #ffc800;
}

#toggle-chat {
  position: absolute;
  top: 0;
  right: 0;
  height: 45px;
  font-size: inherit;
  color: white;
  background-color: #e6b400;
  transition: 0.1s background-color;
  border: none;
  padding: 0.5em;
  border-radius: 0px 0px 0px 16px;
}
#toggle-chat:hover {
  background-color: #b38c00;
}

::before, ::after, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Questrial", sans-serif;
  background: url("/background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: grid;
  place-items: center;
  height: 100vh;
}

/*# sourceMappingURL=styles.css.map */
